p {
  font-family: Arial;
  font-size: 15px;
  color: gray;
  margin-bottom: 5px;
  margin-top: 5px;
}

.email-text {
  margin-bottom: 5px;
}
.email-bar {
  border-width: 1px;
  width: 370px;
  height: 30px;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
}

.Agree-button {
  width: 370px;
  height: 50px;
  color: white;
  background-color: blue;
  border-radius: 25px;
  font-size: 20px;
}

.Terms-and-Cond {
  margin-top: 15px;
  margin-bottom: 15px;
}
